body {
  font-family: Lucida Grande, sans-serif;  
}

#container {
  margin: 40px;
}

#header {
  font-size: 1.2em;
  text-align: center;
  margin: 20px;
}

.method {
  font-weight: bold;
  margin: 20px;
  width: 200px;
}

.val {
  color: #CCC;
  padding: 10px;
}

.pass.true {
  color: green;
}

.fail.true {
  color: red;
}