{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3,
        "targets": {
          "browsers": "> 0.25%, not dead",
          "node": "8.6.0"
        }
      }
    ]
  ]
}
