{
  "plugins": ["transform-object-rest-spread"],
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 3 versions", "safari >= 6"],
          "node": "6.14.3"
        }
      }
    ]
  ]
}
