body {
  font-family: Tahoma, Helvetica, Arial, sans-serif;
  font-size: 86%;
  margin: 0;
}

#desc {
  padding: 9px 14px;
  background-color: #F0F0F0;
}

#container {
  margin: 80px auto 0px auto;
  width: 600px;
}

.section {
  margin: 50px;
  text-align: center;
}

.section-header {
  margin-bottom: 20px;
  font-size: 1.2em;
}

#subtitle {
  margin-top: 2em;
  font-size: .95em;
  color: #555;
  padding: 0px 80px;
}

#black-swatch {
  color: black;
}

#white-swatch {
  color: white;
}

.swatch:active {
  -moz-box-shadow: 0 0 2px 3px grey;
  -webkit-box-shadow: 0 0 2px 3px grey;
  box-shadow: 0 0 2px 3px grey;
}

.swatch {
  margin: 10px;
  padding: 40px;
  height: 60px;
  width: 70px;
  cursor: pointer;
}

.swatch {
  font-size: .97em;
}

.swatch-box {
  display: inline-block;
}

.view-code {
  color: #aaa;
  cursor: pointer;
  margin-right: 4px;
  vertical-align: center;
}

.swatch-box.selected .view-code {
  color: #222;
}

.view-code-arrow {
  margin-left: .16em;
  font-size: .8em;
  display: inline-block;
}

.swatch-box.selected .view-code-arrow {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform:rotate(90deg);
}

#test-box {
  margin-top: 50px;
}

.pass-button {
  color: #333;
  font-weight: bold;
  font-size: 1.6em;
  font-family: "Lucida Grande", Lucida, sans-serif;
}

#training-box .pass-button {
  margin-left: 310px;
}

#testing-box .pass-button {
  margin-left: 350px;
}

#test-button {
  background-color: #DDD;
  box-shadow: #E0E0E0 0 .15em 0.6em;
  border: 1px solid #CCC;
  margin-top: 40px;
  padding: 6px 14px;
}

.button:active {
  background-color: #BBB !important;
}

.button {
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
}

#code-box {
  margin: 32px auto;
}

#code-header {
  margin-bottom: 10px;
  font-weight: bold;
}

#code {
  text-align: left;
  font-family: "DejaVu Sans Mono", monospace;
  font-size: 13px;
  white-space: pre-wrap;
  background-color: #F4F4F4;
  padding: 18px 16px;
  margin: 0 auto;
  border: 1px solid #eee;
}

#progress-box {
  width: 600px;
  text-align: center;
  margin: 200px auto;
  font-weight: bold;
  font-size: 2em;
}

#progress-bar {
  height: 20px;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  margin-top: 20px;
}

#progress-completed {
  background-color: #d0d0d0;
  width: 0%;
  height: 100%;
}