body {
  font-family: Corbel, Tahoma, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#container {
  margin: 0 auto;
  width: 660px;
}

#header {
  text-align: center;
  font-family: Helvetica;
}

#content {
  margin-top: 40px;
}

#title {
  font-size: 2.5em;
  font-weight: bold;
}

#subtitle {
  color: #999;
  font-weight: bold;
  font-size: 1.5em;
}

.big-section {
  margin-top: 38px;
  margin-bottom: 38px;
}

.section {
  margin-bottom: 20px;
}

.section-header {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 0.5em;
}

.sub-section-header {
  padding: 6px;
  margin-top: 8px;
}

.api-section-header {
  margin-bottom: 5px;
}

img {
  border: 5px solid #ccc;
  -moz-border-radius: 2px;
}

.section-code {
  padding: .4em;
  background-color: #F3EDFF;
  display: inline-block;
}

.code-example {
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #F2F4FF;
  margin-right: 50px;
}

.api-spec {
  font-weight: bold;
}

.optional {
  color: #999;
}

.arguments {
  margin-left: 16px;
}

.argument {
  margin-top: 10px;
}
